.homePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  background: #F6F6F7;
  padding: 0;
  width: 100%;
  position:relative;
}

.logoutButton {
  
  padding: 16px 32px;
  border-radius: 16px;
  background-color: var(--accent-green);
  color: #0f0f0f;
  font-size: 18px;
  font-weight: 600;
  border: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
  position: absolute;
    left: 20px;
    /* Soldan biraz boşluk */
    bottom: 20px;
    /* Alttan biraz boşluk */
}

.logoutButton:hover:not(:disabled) {
  opacity: 0.9;
  transform: translateY(-2px);
}

.logoutButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media (max-width: 480px) {
  .homePage {
    padding: 24px;
  }

  .logoutButton {
    width: 100%;
  }
}
