.editModalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3000;
}

.editModalContainer {
  background-color: #fcfcfc;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
  padding: 32px 32px 28px 32px;
  min-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px solid #fcfcfc;
}

.closeButton {
  position: absolute;
  top: 18px;
  right: 18px;
  background: none;
  border: none;
  color: #161616;
  cursor: pointer;
  z-index: 10;
  transition: opacity 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton:hover {
  opacity: 0.7;
}

.editModalTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
  text-align: left;
  width: 100%;
  color: #161616;
}

.editModalForm {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.editModalFormInput {
  border: 1px solid #bedbb0;
  background: transparent;
  border-radius: 8px;
  width: 100%;
  height: 49px;
  font-weight: 400;
  font-size: 14px;
  padding: 0 18px;
  transition: border 0.2s;
  box-sizing: border-box;
  color: rgb(35, 35, 35);
}

.editModalFormInput:focus {
  outline: none;
  border-color: #9dc888;
}

.editModalFormInput::placeholder {
  color: #16161693;
}

.editButton {
  border-radius: 8px;
  width: 100%;
  height: 49px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  background: #bedbb0;
  color: #161616;
  border: none;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.editButton span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background: #161616;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
}
